[Unit]
Description=Service Manager
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/socket-xmpp-json/programs/manager/main.py
[Install]
WantedBy=multi-user.target