[Unit]
Description=Service Relay
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/programs/socket-xmpp-json/programs/relay/main.py
[Install]
WantedBy=multi-user.target